* {
    font-family:"Roboto",sans-serif;
}

ul {
    padding-left:0px;
}
.roundimg {
    height:150px;
    width:150px;
    border-radius:10px;
}
li {
    list-style-type: none;
    padding-left:20px;
}
button {
    padding:5px 25px;
    border-radius:10px;
    background-color:#3882F6;
    color:white;
    margin-top:8px;
    font-size:15px;
}

.flexvertical{
    display:flex;
    flex-direction:column;
}
.flexhorizontal{
    display:flex;
    flex-direction:row
}
.dark-background {
    background-color:#1F2937;
}
.small-white{
    font-size:18px;
    color:#E5E7EB;
}
.leftpadding {
    padding-left:350px;
}
.rightpadding {
    padding-right:350px;
}

.wide{
    height:230px;
    width:500px;
}
.info{
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
    padding-bottom:35px;
}
.combine {
    flex:0 1 150px;
    margin:25px;
}
.imgtext{
    justify-content:center;
}
#hero {
    color:#F9FAF8;
    font-size:24px;
    font-weight:bold;
}
#header {
    justify-content:space-between;
    align-items:center;
}
#hero-main {
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}
#second {
    padding:100px 0 100px 0;
    justify-content:space-between;
}
#intro {
    flex:0 1 450px;
}
#third {
    align-items:center;
    padding-top:35px;
    padding-bottom:70px;
}

